<div class="blogs bg-white">
    <img src="{{article.image.src | img_url: '500x500'}}">
    <div class="p-5">
        <h1 class="text-2xl font-bold text-green-800 py-2 article-title">{{article.title}}</h1>
        <p class="bg-white text-sm text-black article-content">{{article.content}}</p>
        <a class="py-2 px-3 mt-4 px-6 text-white bg-green-500 inline-block rounded" href="{{article.url}}">Read More</a>
    </div>
    <div class="horizontal-divider">`</div>
    <div class="author-date">
        <div class="date">
            <i class="fas fa-calendar-alt"></i>
            <div>{{article.created_at | date: "%a, %b %d, %y"}}</div>

        </div>
        <div class="vertical-divider">`</div>
        <div class="author">
            <i class="fas fa-user"></i>

            <div>{{article.author| capitalize}}</div>
        </div>
    </div>
</div>
