<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="" name="theme-color">
    <link rel="canonical" href="{{ canonical_url }}">
    <link crossorigin href="https://cdn.shopify.com" rel="preconnect">

    {%- if settings.favicon != blank -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
    <link crossorigin href="https://fonts.shopifycdn.com" rel="preconnect">
    {%- endunless -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- liquid
    assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
    assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
    assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}

















    {{settings.type_body_font | font_face: font_display: 'swap'}}{{body_font_bold | font_face: font_display:
    'swap'}}{{body_font_italic | font_face: font_display: 'swap'}}{{body_font_bold_italic | font_face: font_display:
    'swap'}}{{settings.type_header_font | font_face: font_display: 'swap'}}:root {
    --font-body-family: {{settings.type_body_font.family}}, {{settings.type_body_font.fallback_families}};
    --font-body-style: {{settings.type_body_font.style}};
    --font-body-weight: {{settings.type_body_font.weight}};

    --font-heading-family: {{settings.type_header_font.family}}, {{settings.type_header_font.fallback_families}};
    --font-heading-style: {{settings.type_header_font.style}};
    --font-heading-weight: {{settings.type_header_font.weight}};

    --color-base-text: {{settings.colors_text.red}}, {{settings.colors_text.green}}, {{settings.colors_text.blue}};
    --color-base-background-1: {{settings.colors_background_1.red}}, {{settings.colors_background_1.green}},
    {{settings.colors_background_1.blue}};
    --color-base-background-2: {{settings.colors_background_2.red}}, {{settings.colors_background_2.green}},
    {{settings.colors_background_2.blue}};
    --color-base-solid-button-labels: {{settings.colors_solid_button_labels.red}},
    {{settings.colors_solid_button_labels.green}}, {{settings.colors_solid_button_labels.blue}};
    --color-base-outline-button-labels: {{settings.colors_outline_button_labels.red}},
    {{settings.colors_outline_button_labels.green}}, {{settings.colors_outline_button_labels.blue}};
    --color-base-accent-1: {{settings.colors_accent_1.red}}, {{settings.colors_accent_1.green}},
    {{settings.colors_accent_1.blue}};
    --color-base-accent-2: {{settings.colors_accent_2.red}}, {{settings.colors_accent_2.green}},
    {{settings.colors_accent_2.blue}};
    --payment-terms-background-color: {{settings.colors_background_1}};
    }

    *,
    *::before,
    *::after {
    box-sizing: inherit;
    }

    html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    }

    body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    line-height: 1.8;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    }

    @media screen and(min-width: 750px) {
    body {
    font-size: 1.6rem;
    }
    }

















    {% endstyle %}


    {%- unless settings.type_body_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    <!-- add your code here  -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'home_page.css' | asset_url | stylesheet_tag }}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!-- Material Icons -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
        integrity="sha256-XwfUNXGiAjWyUGBhyXKdkRedMrizx1Ejqo/NReYNdUE=" crossorigin="anonymous" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,400,300' rel='stylesheet' type='text/css'>

</head>

<body>
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
        {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main class="content-for-layout focus-none" id="MainContent" role="main" tabindex="-1">
        {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
        <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>


        window.routes = {
            cart_add_url: '{{ routes.cart_add_url }}',
            cart_change_url: '{{ routes.cart_change_url }}',
            cart_update_url: '{{ routes.cart_update_url }}'
        };

        window.cartStrings = {
            error: `{{ 'sections.cart.cart_error' | t }}`,
            quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
        }

        window.variantStrings = {
            addToCart: `{{ 'products.product.add_to_cart' | t }}`,
            soldOut: `{{ 'products.product.sold_out' | t }}`,
            unavailable: `{{ 'products.product.unavailable' | t }}`,
        }
    </script>

    <script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'variants.js' | asset_url }}" defer="defer"></script>
    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
        integrity="sha256-uckMYBvIGtce2L5Vf/mwld5arpR5JuhAEeJyjPZSUKY=" crossorigin="anonymous"></script>

    <!-- Initialize Swiper -->
    <script>
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 7,
            loop: true,
            freeMode: false,
            loopedSlides: 7, //looped slides should be the same
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            loop: true,
            loopedSlides: 7, //looped slides should be the same
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });
    </script>

    <!-- Bootstrap JS, Popper.js and Jquery CDNS -->
    <script>
        // const sidenav = document.getElementById("mySidenav");
        // // const body = document.getElementsByTagName("body");
        // document.body.addEventListener("click", () => {
        //     console.log('body clieck')
        //     if (sidenav.style.display != "none")
        //         sidenav.style.display = "none";
        //     // body.style.backgroundColor = "red";
        // });

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>